# ************************************************
# ********** environment **********
# ************************************************
.env
local.env

# virtual environments
.venv
env/
venv/
# ************************************************
# ********** git **********
# ************************************************
.git
# ************************************************
# ********** editors **********
# ************************************************

# VSCode
.vscode


## log files
*log



# ************************************************
# ********** python **********
# ************************************************

# byte-compiled / optimized / DLL files
__pycache__/

# unit test / coverage reports
.coverage
.coverage.*
.hypothesis/

# linters / checkers
.ruff_cache/


# pytett
.pytest_cache/
